<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.mycoughdrop.coughdrop.misc"
  version="0.0.1"
  >

  <name>CoughDropFace</name>

  <description>
    Face/Head Tracking for Cordova Apps
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CoughDropFace">
          <param 
            name="android-package" 
            value="com.mycoughdrop.coughdrop.CoughDropFace" 
            />
      </feature>
    </config-file>
    <source-file
      src="src/android/CoughDropMisc.java" 
      target-dir="src/com/mycoughdrop/coughdrop" 
      />
    <source-file
      src="src/android/CordovaFragment.java" 
      target-dir="src/com/mycoughdrop/coughdrop" 
      />
    <source-file
      src="src/android/FaceArFragment.java" 
      target-dir="src/com/mycoughdrop/coughdrop" 
      />
   </platform>
   
  <platform name="ios">
    <source-file src="src/ios/CoughDropFace.swift" />
    <source-file src="src/ios/CoughDropFaceController.swift" />
    <source-file src="src/ios/CoughDropFace.storyboard" />

    <config-file target="config.xml" parent="/*">
      <feature name="CoughDropFace">
        <param name="ios-package" value="CoughDropFace"/>
      </feature>
    </config-file>
  </platform>
</plugin>
