<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="org.openaac.cordova_face.face"
  version="0.0.1"
  >

  <name>MobileFace</name>

  <description>
    Face/Head Tracking for Cordova Apps
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MobileFace">
          <param 
            name="android-package" 
            value="org.openaac.cordova_face.face" 
            />
      </feature>
    </config-file>
    <source-file
      src="src/android/MobileFace.java" 
      target-dir="src/org/openaac/cordova_face" 
      />
    <source-file
      src="src/android/CordovaFragment.java" 
      target-dir="src/org/openaac/cordova_face" 
      />
    <source-file
      src="src/android/FaceArFragment.java" 
      target-dir="src/org/openaac/cordova_faces" 
      />
   </platform>
   
  <platform name="ios">
    <source-file src="src/ios/MobileFace.swift" />
    <source-file src="src/ios/MobileFaceController.swift" />
    <source-file src="src/ios/MobileFace.storyboard" />

    <config-file target="config.xml" parent="/*">
      <feature name="MobileFace">
        <param name="ios-package" value="MobileFace"/>
      </feature>
    </config-file>
  </platform>
</plugin>
